<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Todoy</title>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/py-builtins.js"></script>
    <script type="text/javascript" src="/js/todoy.js"></script>
    <link rel="stylesheet" href="/css/master.css" type="text/css"
                media="screen" charset="utf-8" />
<body>
<h1>Todoy</h1>
{% if request.messages %}
<div class="messages">
    {{request.messages}}
</div>
{% end %}
<div id="menu">
    <a href="/">Home</a>
    <a href="/account/register.html">Register</a>
    <a href="/account/login.html">Login</a>
    <a href="/account/logout.html">Logout</a>
</div>

{% block content %}
{% end %}
</body>
</html>