<!DOCTYPE html> 
<html manifest="/home/{{user}}/cache.manifest"> 
	<head> 
	<title>Todoy</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/static/css/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mobile-1.0.min.js"></script>
  <script type="text/javascript" src="/static/js/py-builtins.js"></script>
  <script type="text/javascript" src="/static/js/todoy.js"></script>
  <script type="text/javascript">
    jQuery(document).delegate('#main_page', 'pagecreate', setup_main_page);
  </script>
</head> 
<body> 

<div data-role="page" id="main_page">
	<header data-role="header" class="ui-bar">
    <form id="add_form" class="ui-grid-c" data-ajax="false">
      <label for="add_box" class="ui-hidden-accessible">Add Todo</label>
      <input class="ui-block-a" type="text" name="add_box" id="add_box" value="" placeholder="Add Todo" />
      <button class="ui-block-b" type="submit" value="Add" data-icon="plus"></button>
      <div id="online_indicator" class=ui-block-c">Offline</div>
    </form>
	</header><!-- /header -->

	<div data-role="content">	
    content
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>
