#todo_edit_box {
    display: none;
    background-color: #eee;
    border-style: solid;
    width: 300px;
    height: 300px;
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
}

.completed {
    text-decoration: line-through;
    color: #d00;
}
