<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd ">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}Todoy{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="stylesheet"
        href="/static/ui-lightness/jquery-ui-1.7.2.custom.css" />
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="/static/jquery.url.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.7.2.custom.min.js"></script>
        <script src="/static/jquery.form.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/static/gears_init.js"></script>
        <script type="text/javascript" src="/static/todoy.js"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="current_version">
        </div>
        {% block menu %}
        <div id="menu">
            <a href="javascript:add_todo()">New</a>
        </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
        <div id="todo_edit_box">
            <div>
            <form>
                <input type="hidden" name="todo_id" id="todo_id" />
                <label for="todo_date">Date:</label>
                <input type="text" name="date" id="todo_date" />
                <br />
                <label for="todo_title">Title:</label>
                <input type="text" name="title" id="todo_title" />
                <br />
                <label for="todo_time">Time:</label>
                <input type="text" name="time" id="todo_time" />
                <br />
                <button type="button" id="close_button">Close</button> 
                <button type="button" id="save_button">Save</button>
                {% if has_delete %}
                <button type="button" id="delete_button">Delete</button>
                {% endif %}
            </form>
            </div>
        </div>
    </body>
</html>
