# -*- python -*-
from trembling.auth import login
^L
if request.POST:
    if login(request,
            request.body.one('username'),
            request.body.one('password')):
        request.redirect("/")

^L
{% extends 'base.html' %}

{% block content %}
<form method="POST">
    <label for="username">Username:<input name="username" type="text"/></label>
    <label for="password">Password:<input name="password" type="password"/></label>
    <input type="submit" value="Login" />
</form>
{% end %}