# -*- python -*-
import json
from aspen import Response
from trembling.auth import User
from trembling import Redirect
from pycerberus.schema import SchemaValidator
from pycerberus.validators import StringValidator
from pycerberus.api import Validator
from pycerberus.errors import InvalidDataError


class UniqueUsername(StringValidator):
    messages = {
        "user_exists":  "Sorry, an account for '%(username)' has already been created"
    }

    def validate(self, converted_value, context):
        existing_user = User.objects(username=converted_value)
        if existing_user:
            self.error('user_exists', converted_value, context, username=converted_value)


class PasswordsMatch(Validator):
    messages = {
        'no_match': "The passwords do not match"
    }

    def validate(self, fields, context):
        if fields['password'] != fields['confirm_password']:
            self.error('no_match', fields, context=context)


class RegistrationValidation(SchemaValidator):
    username = UniqueUsername(required=True)
    password = StringValidator(required=True)
    confirm_password = StringValidator(required=True)
    formvalidators = (PasswordsMatch,)

^L
if request.POST:
    try:
        schema = RegistrationValidation()
        schema.process({"username": request.body.one('username'),
            'password': request.body.one('password'),
            'confirm_password': request.body.one('confirm_password')})
    except InvalidDataError as e:
        print e.error_dict()
        response = Response(406, json.dumps(
            {k:v.message for k,v in e.error_dict().iteritems()}))
    else:
        print "VALID"

^L
{% extends 'base.html' %}

{% block content %}
Enter a username and password for your new account:
<form id="registration_form" method="POST">
    <label for="username">Username:
        <input name="username" type="text"/>
    </label><br />
    <label for="password">Password:
        <input name="password" type="password"/>
    </label><br />
    <label for="password">Confirm Password:
        <input name="confirm_password" type="password"/>
    </label><br />
    <input type="submit" value="Register" />
</form>
{% end %}