# -*- python -*-
from aspen import Response
from trembling.auth import User, LOGIN_URL
from trembling import Redirect

^L
if request.POST:
    # Validation "should have" happened in javascript, so we don't
    # have to be pretty with error codes here.
    form = request.body
    if User.objects(username=form.one('username')):
        raise Response(406, "Username already registered")
    if form.one('password') != form.one('confirm_password'):
        raise Response(406, "Passwords don't match")
    if not form.one('password'):
        raise Response(406, 'No Password supplied')
    if not  form.one('username'):
        raise Response(406, "Username is required")

    user = User(username=form.one('username'))
    user.set_password(form.one('password'))
    user.save()
    raise Redirect(LOGIN_URL)


^L
{% extends 'base.html' %}

{% block content %}
Enter a username and password for your new account:
<form id="registration_form" method="POST">
    <label for="username">Username:
        <input name="username" type="text"/>
    </label><br />
    <label for="password">Password:
        <input name="password" type="password"/>
    </label><br />
    <label for="password">Confirm Password:
        <input name="confirm_password" type="password"/>
    </label><br />
    <input type="submit" value="Register" />
</form>
{% end %}